.copyright {
    background: linear-gradient(90deg, rgba(232, 239, 253) 10%, rgba(0, 212, 255, 1) 100%);
    text-align: center;
    padding: 5px;
    color: rgb(94, 31, 197);
    margin-top: 15%;
}

@media@tablet {
    .copyright {
        background: linear-gradient(90deg, rgba(232, 239, 253) 10%, dodgerblue 100%);
    }
}