.aboutus-target {
    .member {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

.features-target {
    background: linear-gradient(90deg, rgba(232, 239, 253) 10%, rgba(146, 183, 247) 100%);
    border: 3px solid rgb(28, 65, 228);
    margin-bottom: 10%;
    margin-top: 10%;

    h2 {
        padding-top: 2%;
        margin-left: 25%;
    }

    p {
        padding: 10px 30px;

        strong {
            font-weight: bold;
        }
    }
}

.child-target {
    margin-bottom: 5%;
    margin-top: 5%;
    background: linear-gradient(90deg, rgba(232, 239, 253) 10%, rgba(146, 183, 247) 100%);
    border: 3px solid rgb(28, 65, 228);

    h2 {
        margin-top: 50px;
        margin-left: 25%;
    }

    p {
        padding: 10px 30px;
    }
}

.parent-target {
    margin-bottom: 20%;
    margin-left: 14%;
}

.signups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .aboutus {
        text-align: center;
        height: 40px;
        width: 130px;
        padding: 10px;
        background-color: coral;
        border-radius: 10px;
        color: white;
        margin-right: 10px;

        &:hover {
            color: coral;
            background: white;
            border: 1px solid coral;
            border-radius: 10px;
        }
    }

    .contactus {
        text-align: center;
        height: 40px;
        width: 130px;
        padding-top: 10px;
        background-color: dodgerblue;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 1%;

        &:hover {
            color: dodgerblue;
            background-color: white;
            border: 1px solid dodgerblue;
            border-radius: 10px;


        }
    }
}

// Desktop media queries-----------------------------------------------------------------------------------
@media @screen {

    .aboutus-target {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 10%;

        .member {
            display: flex;
            flex-direction: row;
            background: linear-gradient(90deg, rgba(232, 239, 253) 10%, dodgerblue 100%);
            margin: 5px;
            height: 200px;
            border: 3px solid rgb(28, 65, 228);
            justify-content: space-between;
        }
    }
}

// Tablet media queries-----------------------------------------
@media @tablet {

    .aboutus-target {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 10%;

        .member {
            display: flex;
            flex-direction: row;
            background: linear-gradient(90deg, rgba(232, 239, 253) 10%, yellow 100%);
            margin: 5px;
            height: 200px;
            border: 3px solid rgb(28, 65, 228);
            justify-content: space-between;
        }
    }
}