
/* Tablet Styles */
@tablet: (min-width:501px) and (max-width:999px);

/* Desktop Styles */
@screen: (min-width:1000px);

 .width-100 {
    width: 100%;
  }

  .flex(@jc: none, @ai: none, @dir: row) {
    display: flex;
    justify-content: @jc;
    align-items: @ai;
    flex-direction: @dir;
  }
  