.main-container {

    // Default device is mobile in Mobile first design layout
    a {
        text-decoration: none;
        font-size: 1rem;
        padding: 1rem;
        color: rgb(94, 31, 197);

        &:hover {
            color: rgb(206, 22, 144);
        }
    }

    .header {
        background: linear-gradient(90deg, rgba(232, 239, 253)10%, rgba(0, 212, 255, 1) 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1%;

        .text {
            padding-top: 2%;
            text-align: center;
            padding-bottom: 2%;
        }
    }

    .navbtns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;

        .navigation {
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }

        .loginnav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            text-decoration: none;
            white-space: nowrap;
        }

    }

    .btn {
        flex: 1 1 auto;
        margin: 3px;
        padding: 3px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: #0206db;
        box-shadow: 0 0 10px #000;
        border-radius: 10px;
        background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    }

    .btn:hover {
        background-position: right center;
    }

    .signups {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn {
            flex: none;
            margin: 2%;
            padding: 1%;
            border-radius: 15px;
        }
    }

    // Tablet media queries ------------------------------------
    @media@tablet {
        a {
            font-size: 1rem;
            padding: 1rem;
        }

        .btn {
            margin: 1%;
            padding: 2%;
        }

        .header {
            background: linear-gradient(90deg, rgba(232, 239, 253)10%, dodgerblue 100%);
        }
    }

    // Override for bigger screen ----------------------------------------------
    @media@screen {
        a {
            font-size: 1.5rem;
            padding: 1rem;
        }

        .btn {
            margin: 2%;
            padding: 2%;
        }
    }
}